/**
 * @file
 * Subtheme specific CSS.
 */
.theme-button .views-field span a {
  width: 100%;
}

.theme-button .views-field span a {
  color: #ffffff;
  text-decoration: none;
}

.theme-button .views-field {
  margin-top: 0.5em;
}

/** set background image **/
/* #page #main-wrapper */

body #page-wrapper #page #main-wrapper { /* Location of the image */
  background-image: url(../images/songappbackgportrate.jpeg); /* Background image is centered vertically and horizontally at all times */
  background-position: center center; /* Background image doesn’t tile */
 /* background-repeat: no-repeat; /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
  background-attachment: fixed; /* This is what makes the background image rescale based on the container’s size */
  background-size: cover; /* Set a background color that will be displayed while the background image is loading */
 /* height: 100vh;*/
  min-height:100vh;
}

/*
#page-wrapper #page #header #navbar-main, #page-wrapper #page #header #navbar-top {background-color: transparent;}
 */

a.navbar-brand, a.nav-link, .navbar-dark .nav-link, a:hover.navbar-brand, :hover.nav-link {color:#ffffff;}
#page #header {background-color: black;}
/*body #page-wrapper #page #main-wrapper {background: none;} */
body {color: white;}
div label, div.webform-element-description {color: white;}
div label span.field-content {color: black}
#edit-show-songs--wrapper  legend > span, #choose_my_song--your_name {color: white}
/*.form-item-your-name.mb-3 label {font-size: 1em;}*/
/*#browse_all_songs--name_and_message > label, #choose_my_song--show_songs > label {font-size: 1em}*/

#block-songrequest-barrio-content div.request-list div.views-row {background-color: #003eff;}

#choose_my_song--show_songs > label:after { content:" = ";}
 div span a br {display: none;}

#choose_my_song--show_songs > a {color:white; font-size:1em;pointer-events: none; text-decoration: none; }
#navbar-top .region-top-header {margin: auto;}
#block-songrequest-barrio-main-menu {margin: auto;}

#choose_my_song--your_name > label:after { content:" = ";}

/*#block-songrequest-barrio-content {background-color: black;} */

#block-songrequest-barrio-content .request-list .view-content.row .views-row
{border: 2px solid white; margin-bottom: 10px; color:white;}

#choose_my_song--show_songs {color: white;}
#browse_all_songs--name_and_message {color: white;}
#browse_all_songs--name_and_message > label:after { content:" = ";}
#browse_all_songs--choose_song > label:after { content:" = ";}
#browse_all_songs--choose_song > a {pointer-events: none; text-decoration: none; color: white; }
#edit-choose-song--wrapper > legend > span {color:white;}
/*.form-item-name-and-message.mb-3 > label {font-size: 1em;}*/
.webform-options-display-buttons .form-check-input:checked ~ .form-check-label {border: 4px solid blue;}
html, body {
  height: 100vh;
}

.field--name-field-song-lyrics, .block-webform h2, .view-header h2, div.view-header p,#block-views-block-song-by-theme-or-genre-block-2 > h2 {color: white}
.btn btn-primary btn-lg a {width: 100%;}

.view-id-taxonomy_term .view-header h2 {text-align: center; font-size: 1.5rem}

article p {background-color: black}

  /* align vbo request managemnt boxes and label */

span.vbo-del-lab {float:left;}
.vbo-box .form-check .form-check-input {margin-left: 5px;}
 div.view-show-requests .mb-3 {margin-bottom: 0rem!important;}
.webform-submission-form legend span {font-size: initial;}

/** request thabnk you box **/
.field--name-field-song-lyrics .field__label {font-size: 1.5em; font-weight: bold; }

/** manage screen space **/

div.js-form-item.js-form-type-textfield.form-type-textfield.js-form-item-your-name.form-item-your-name.mb-3, #edit-show-songs--wrapper, #edit-show-songs > div > div
{margin-bottom: 0 !important;}

p {color: white; font-size: 1.2rem}
.field--name-field-song-lyrics .field__item p {font-size: 1.2rem; background-color: black;}
#navbar-main > a {margin-left: 5px}

footer.site-footer {background: black;}
.webform-submission-form .form-item-your-name.mb-3 label {background: black}
legend span.fieldset-legend {background: black}
div.view-empty p {text-align: center;background: black; padding: 1rem}


/**
 * Basic CSS Media Query Templatedev
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {
 /*.view-header h2 {font-size: 1rem;}
  .views-field a{font-size: small;}
  */  }

@media all and (max-width: 480px) { }


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
